<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youduan.bacaan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Image"
            android:name=".ImageActivity" />
        <activity
            android:label="Check Box"
            android:name=".checkboxActivity" />
        <activity
            android:label="Button"
            android:name=".buttonActivity" />
        <activity
            android:label="Edit Text"
            android:name=".EditTextActivity" />
    </application>

</manifest>